### Get dataset from source:

In [15]:
import pandas as pd
data_url_counties = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
data_url_states = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv"
us_counties = pd.read_csv(data_url_counties, error_bad_lines=False)
display(us_counties.head())
display(us_counties.info())

us_states = pd.read_csv(data_url_states, error_bad_lines=False)
display(us_states.head())
display(us_states.info())

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 6 columns):
date      23967 non-null object
county    23967 non-null object
state     23967 non-null object
fips      23601 non-null float64
cases     23967 non-null int64
deaths    23967 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.1+ MB

None

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1609 entries, 0 to 1608
Data columns (total 5 columns):
date      1609 non-null object
state     1609 non-null object
fips      1609 non-null int64
cases     1609 non-null int64
deaths    1609 non-null int64
dtypes: int64(3), object(2)
memory usage: 63.0+ KB

None

### Get basic information of cases in each state on current day

In [24]:
from datetime import datetime 
now = datetime.now()
todays_date = now.strftime("%Y-%m-%d")
specified_date="2020-03-31"
cases_on_date = us_states[us_states["date"]==specified_date]
display(cases_on_date)

total_cases = cases_on_date["cases"].sum()
print("Total cases on " + specified_date + ": "+  str(total_cases))

            date                     state  fips  cases  deaths
1554  2020-03-31                   Alabama     1    999      13
1555  2020-03-31                    Alaska     2    133       2
1556  2020-03-31                   Arizona     4   1298      24
1557  2020-03-31                  Arkansas     5    564       8
1558  2020-03-31                California     6   8582     183
1559  2020-03-31                  Colorado     8   2990      69
1560  2020-03-31               Connecticut     9   3128      69
1561  2020-03-31                  Delaware    10    319      10
1562  2020-03-31      District of Columbia    11    495       9
1563  2020-03-31                   Florida    12   6741      85
1564  2020-03-31                   Georgia    13   4117     125
1565  2020-03-31                      Guam    66    139       2
1566  2020-03-31                    Hawaii    15    224       1
1567  2020-03-31                     Idaho    16    526       9
1568  2020-03-31                  Illinois    17   5994     107
1569  2020-03-31                   Indiana    18   2159      50
1570  2020-03-31                      Iowa    19    498       7
1571  2020-03-31                    Kansas    20    434      10
1572  2020-03-31                  Kentucky    21    590      18
1573  2020-03-31                 Louisiana    22   5237     240
1574  2020-03-31                     Maine    23    303       5
1575  2020-03-31                  Maryland    24   1662      18
1576  2020-03-31             Massachusetts    25   6620      89
1577  2020-03-31                  Michigan    26   7630     264
1578  2020-03-31                 Minnesota    27    629      12
1579  2020-03-31               Mississippi    28    937      20
1580  2020-03-31                  Missouri    29   1351      15
1581  2020-03-31                   Montana    30    198       5
1582  2020-03-31                  Nebraska    31    193       4
1583  2020-03-31                    Nevada    32   1113      26
1584  2020-03-31             New Hampshire    33    367       3
1585  2020-03-31                New Jersey    34  18696     267
1586  2020-03-31                New Mexico    35    315       4
1587  2020-03-31                  New York    36  75832    1550
1588  2020-03-31            North Carolina    37   1528      10
1589  2020-03-31              North Dakota    38    126       3
1590  2020-03-31  Northern Mariana Islands    69      2       0
1591  2020-03-31                      Ohio    39   2199      55
1592  2020-03-31                  Oklahoma    40    566      23
1593  2020-03-31                    Oregon    41    690      18
1594  2020-03-31              Pennsylvania    42   4997      72
1595  2020-03-31               Puerto Rico    72    239       8
1596  2020-03-31              Rhode Island    44    488       8
1597  2020-03-31            South Carolina    45   1083      22
1598  2020-03-31              South Dakota    46    108       1
1599  2020-03-31                 Tennessee    47   1834      13
1600  2020-03-31                     Texas    48   3576      57
1601  2020-03-31                      Utah    49    887       5
1602  2020-03-31                   Vermont    50    293      13
1603  2020-03-31            Virgin Islands    78     30       0
1604  2020-03-31                  Virginia    51   1250      27
1605  2020-03-31                Washington    53   5292     226
1606  2020-03-31             West Virginia    54    162       1
1607  2020-03-31                 Wisconsin    55   1351      25
1608  2020-03-31                   Wyoming    56    120       0

Total cases on 2020-03-31: 187834

### Show the growth curve in cases for a specified state